/*HTML "SET UP"*/
html {
	scroll-behavior: smooth;
  }


/* UNUSED 
.header {
    background:url("REEE.gif");
    background-size: auto;
    background-repeat: repeat;
    background-position: fixed;
    text-align: center;
    margin: 0; 
    padding-top: 24vh;
    padding-bottom: 24vh;
}

.header h1{
    margin: 0;
}
*/

/*=====NAV BAR STARTS HERE=====NAV BAR STARTS HERE=====NAV BAR STARTS HERE=====NAV BAR STARTS HERE=====NAV BAR STARTS HERE=====NAV BAR STARTS HERE=====NAV BAR STARTS HERE===== */

.navbar {
	position: sticky;
	width: 100%;
	/*display: flex;
	justify-content: space-around; */
	overflow: hidden;
	background-color: #000000;
	font-family: inherit;
	z-index: 9999;
    top: 0;
    margin: 0;
}

	/* Links inside the navbar */
.navbar a{
	font-size: 20px;
	padding: 10px 0px 10px 0px;
	float: left;
	color: white;
	text-align: center;
	text-decoration: none;
	width: 25%;
}

/* The dropdown container */
.dropdown {
	overflow: hidden;
}



/* Dropdown button */
.dropdown .dropbtn {
	width: 100%;
	padding: 10px 0px 10px 0px;
	font-size: 20px;
	border: none;
	outline: none;
	color: white;
	background-color: #000000;
	font-family: inherit;
	margin: 0;
	z-index: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
	background-color: #2e2979;
	color:white; 
	/*box-shadow: -4px 8px 16px 0px rgba(0,0,0,0.2);  shadow on hover [DISABLED]*/
}


/* Dropdown content (hidden by default) */
.dropdown-content {
	display: none;
	position: fixed;
	background-color: black;
	
	z-index: 9999;
	text-align:center;
	width: 100%;
}


/* Links inside the dropdown */
.dropdown-content a {
	float: none;
	color: white;
	padding: 10px 10px;
	text-decoration: none;
	display: block;
	text-align: center;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}


/*=====NAV BAR ENDS HERE=====NAV BAR ENDS HERE=====NAV BAR ENDS HERE=====NAV BAR ENDS HERE=====NAV BAR ENDS HERE=====NAV BAR ENDS HERE=====NAV BAR ENDS HERE===== */

/* BODY "META" INFO */
body {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	background-color: #000000;
	position: center;
}

.contentbackground {
	background: url("pepewallpaper.jpg") top center fixed;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}


/* Grid sutff is all here */
.grid-container {
	display: grid;
	grid-gap: 10px;
	grid-template-areas:
		'a a a a a a a a a a a a'
		'n n n n n n n n n n n n'
		'j j j j j k k l l l l l'
		'b b b b b b c c c c c c'
		'd d d d d h h i i i i i'
		'e e e e e e f f f f f f'
		'g g g g g g m m m m m m';
	margin: 0 10% 0 10%;
	padding: 10vh 0 10vh 0;
	color: #48301c;
	font-family: inherit;
}

.item1 { 
	background-color: rgba(255, 255, 255, 0.5);
	grid-area: a;
	
}

.item1-content{
	padding: 10px 10px !important;
}

.item1-content > p > a > img{
	width: 1em;
}

.item1a { 
	background-color: rgba(255, 255, 255, 0.5);
	grid-area: n;
}


.item1a-content{
	background: url("safety.png") center no-repeat;
	background-size: contain;
}

.learna{
	grid-area: j;
}

.learn{
	grid-area: k;
}

.learnb{
	grid-area: l;
}

.learna, .learnb {
	overflow: hidden;
	text-align: center;
	background-color: transparent;
	background-image: url("pink-dot.svg");
	background-repeat: space;
	background-size: 50px;
	background-position: 0 50%;
	margin: 40px 0 40px 0;
}

.item2 { 
	background-color: rgba(255, 255, 255, 0.5);
	grid-area: b;
}



.item2-content{
	background: url("Horse.png") center no-repeat;
	background-size: contain;
}

.item3 { 
	background-color: rgba(255, 255, 255, 0.5);
	grid-area: c;
}

.item3-content{
	background: url("Music.png") center no-repeat;
	background-size: contain;
}

.item4a{
	grid-area: d;
}
.item4 { 
	grid-area: h;
}
.item4b{
	grid-area: i;
}

.item4a, .item4b {
	overflow: hidden;
	text-align: center;
	background-color: transparent;
	background-image: url("pink-dot.svg");
	background-repeat: space;
	background-size: 50px;
	background-position: 0 50%;
	margin: 40px 0 40px 0;
}


.item4b{
	grid-area: i;
}

.item5 {
	background-color: rgba(255, 255, 255, 0.5); 
	grid-area: e;
}

.item5-content{
	background: url("3DPrint.png") center no-repeat;
	background-size: contain;
}

.item6 {
	background-color: rgba(255, 255, 255, 0.5);
	grid-area: f;
}
.item6-content{
	background: url("LaserCut.png") center no-repeat;
	background-size: contain;
}

.item7 {
	background-color: rgba(255, 255, 255, 0.5);
	grid-area: g;
}
.item7-content{
	background: url("WebDev.png") center no-repeat;
	background-size: contain;
}
.item8 {
	background-color: rgba(255, 255, 255, 0.5); 
	grid-area: m;
}

.item8-content{
	background: url("Arduino.png") center no-repeat;
	background-size: contain;
}

.grid-container > div{
	font-size: 30px;
	text-align: center ;
}
.grid-container > div > div{ 
	padding: 130px 70px;
	margin: 20px;
}
