/*HTML "SET UP"*/
html {
	scroll-behavior: smooth;
  }


/* UNUSED 
.header {
    background:url("REEE.gif");
    background-size: auto;
    background-repeat: repeat;
    background-position: fixed;
    text-align: center;
    margin: 0; 
    padding-top: 24vh;
    padding-bottom: 24vh;
}

.header h1{
    margin: 0;
}
*/

/*=====NAV BAR STARTS HERE=====NAV BAR STARTS HERE=====NAV BAR STARTS HERE=====NAV BAR STARTS HERE=====NAV BAR STARTS HERE=====NAV BAR STARTS HERE=====NAV BAR STARTS HERE===== */

.navbar {
	position: sticky;
	width: 100%;
	/*display: flex;
	justify-content: space-around; */
	overflow: hidden;
	background-color: #000000;
	font-family: inherit;
	z-index: 9999;
    top: 0;
    margin: 0;
}

	/* Links inside the navbar */
.navbar a{
	font-size: 20px;
	padding: 10px 0px 10px 0px;
	float: left;
	color: white;
	text-align: center;
	text-decoration: none;
	width: 25%;
}

/* The dropdown container */
.dropdown {
	overflow: hidden;
}



/* Dropdown button */
.dropdown .dropbtn {
	width: 100%;
	padding: 10px 0px 10px 0px;
	font-size: 20px;
	border: none;
	outline: none;
	color: white;
	background-color: #000000;
	font-family: inherit;
	margin: 0;
	z-index: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
	background-color: #2e2979;
	color:white; 
	/*box-shadow: -4px 8px 16px 0px rgba(0,0,0,0.2);  shadow on hover [DISABLED]*/
}


/* Dropdown content (hidden by default) */
.dropdown-content {
	display: none;
	position: fixed;
	background-color: black;
	
	z-index: 9999;
	text-align:center;
	width: 100%;
}


/* Links inside the dropdown */
.dropdown-content a {
	float: none;
	color: white;
	padding: 10px 10px;
	text-decoration: none;
	display: block;
	text-align: center;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}


/*=====NAV BAR ENDS HERE=====NAV BAR ENDS HERE=====NAV BAR ENDS HERE=====NAV BAR ENDS HERE=====NAV BAR ENDS HERE=====NAV BAR ENDS HERE=====NAV BAR ENDS HERE===== */

/* BODY "META" INFO */
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	background-color: #000000;
	position: center;
}

.contentbackground {
	background: url("pepewallpaper.jpg") top center fixed;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}


/* Grid sutff is all here */
.grid-container {
	display: grid;
	grid-gap: 10px;
	grid-template-areas:
		'a'
        'b'
		'c'
        'd';
	margin: 0 10% 0 10%;
	padding: 10vh 0 10vh 0;
	color: #48301c;
	font-family: inherit;
}

.item1 { 
	background-color: rgba(255, 255, 255, 0.5);
	grid-area: a;
    text-align: left;
	
}

.item1-content > ul > li{
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.item1-content > h1{
    text-align: center;
}

.stdimg {
    border-radius: 5%;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.item2 {
    grid-area: b;
    background-color: rgba(255, 255, 255, 0.5);
}



.std2img{
    width: 35%;
	margin-left: 5%;
	margin-right: 5%;
	border-radius: 5%;

}


.item3 {
    grid-area: c;
    background-color: rgba(255, 255, 255, 0.5);
}

.item3-content > ul > li{
    margin-top: 5vh;
    margin-bottom: 5vh;
}



.item4 {
    grid-area: d;
    background-color: rgba(255, 255, 255, 0.5);
	padding-bottom: 20vh;
}

.tallimg {
    border-radius: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centretext{
	text-align:center;
}

.grid-container > div{
	font-size: 1.5em;
}
.grid-container > div > div  {
    padding-left:10vw;
    padding-right: 10vw;
}